<template>
  <div>
    <div class="row">
      <h2 class="mt-4 mb-4 text-center col-12">{{ $route.name }}</h2>
      <div class="mt-4 col-sm-11 offset-sm-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div id="area">
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-success" @click="pfinder.find()" :disabled="statFinder === 1">Поиск</button>
        <button class="btn btn-outline-danger" @click="clearF()">Отчистить боле</button>
        <div class="mt-3"></div>
          <div class="form-group">
            <label>Конечная точка</label>
            <input v-model="end" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Начальная точка</label>
            <input v-model="start" type="text" class="form-control" required>
          </div>
          <p class="text-success" v-if="checkedSave">Сохранено</p>
          <button class="btn btn-primary" @click="save()">Применить</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  'use strict'
  import {Finder} from '../../../../static/finder.js'
  export default {
    name: 'zadanie17',
    data () {
      return {
        pfinder: {},
        statFinder: 0,
        start: '',
        end: '',
        checkedSave: 0
      }
    },
    beforeRouteLeave (to, from, next) {
      this.pfinder.timeoutId = clearTimeout(this.pfinder.timeoutId)
      this.pfinder = null
      next()
    },
    created () {
      this.pfinder = new Finder()
      let self = this
      $(function () {
        self.pfinder.genArea(10, 10)
        self.pfinder.setStart(2, 2)
        self.pfinder.setEnd(6, 6)
        $('.block').click(function () {
          let pos = $(this).attr('id').split('_')
          self.pfinder.addBarrier(pos[1], pos[2])
        })
      })
    },
    methods: {
      save () {
        let temp = this.start.split(', ')
        this.start = temp
        let temp2 = this.end.split(', ')
        this.end = temp2
        this.clearF()
      },
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      clearF () {
        this.pfinder = new Finder()
        let self = this
        $(function () {
          $('#area').empty()
          if (self.start !== '' && self.end !== '') {
            self.pfinder.genArea(10, 10)
            self.pfinder.setStart(Number(self.start[0]), Number(self.start[1]))
            self.pfinder.setEnd(Number(self.end[0]), Number(self.end[1]))
          } else {
            self.pfinder.genArea(10, 10)
            self.pfinder.setStart(2, 2)
            self.pfinder.setEnd(6, 6)
          }
          $('.block').click(function () {
            let pos = $(this).attr('id').split('_')
            self.pfinder.addBarrier(pos[1], pos[2])
          })
        })
      }
    }
  }
</script>

<style>
  #area {
    width: 100%;
    height: 100%;
  }
  .clear {
    clear: both;
  }
  .block {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid black;
    margin: 1px;
    overflow: hidden;
    font-size: 8px;
  }
  .curr {
    background-color: green;
  }
  .end {
    background-color: red;
  }
  .closepf {
    border: 1px dashed #ff0000;
  }
  .open {
    border: 1px dotted blue;
  }
  .barrier {
    background-color: black;
  }
  .vxod {
    background-color: blue;
  }
</style>
