<template>
  <div>
    <div class="row">
      <h2 class="mt-4 mb-4 text-center col-12">{{ $route.name }}</h2>
      <div class="mt-4 col-sm-11 offset-sm-1">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div align="center" class="col-12" id="board_div" style="color: red"></div>
          <div align="center" class="col-12">
            <form name="log_div" action="">
              <textarea class="form-control" name="log_area" rows="10" cols="80" readonly=""></textarea>
              <br>N=
              <select class="custom-select" name="N_select">
                <option value="4">4
                </option><option value="5">5
                </option><option value="6">6
                </option><option value="7">7
                </option><option value="8" selected="">8
                </option><option value="9">9
                </option><option value="10">10
                </option><option value="11">11
                </option></select>
              <button type="button" class="btn btn-primary" @click="click1">Выполнить</button>
              <button name="show_button" class="btn btn-success" type="button" @click="show1" value="Показать (1)">Показать</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  'use strict'
  var OCCUPIED = 1 // метка "поле бьётся"
  var FREE = 0 // метка "поле не бьётся"
  var ISHERE = -1 // метка "ферзь тут"
  var OUTPUT = 1 // флаг "показать все решения"
  var LOW_N = 4
  var HIGH_N = 11 // минимальный и максимальный размеры доски
  var N = 8 // размер доски по умолчанию
  var Current = 0 // номер варианта решения для показа
  var q // будущие решения

  export default {
    name: 'zadanie17',
    data () {
      return {
        borad: []
      }
    },
    created () {
      this.click1(8)
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      Queen (N) { // Реализация проблемы об N ферзях
        this.N = N
        this.columns = new Array(this.N) // столбцы
        var numberOfDiagonals = 2 * this.N - 1 // число диагоналей
        this.diagonals1 = new Array(numberOfDiagonals) // диагонали доски
        this.diagonals2 = new Array(numberOfDiagonals)
        this.solutions  = new Array() // решения
        for (var index = 0; index < numberOfDiagonals; ++index) {
          if (index < this.N) this.columns[index] = ISHERE
          this.diagonals1[index] = FREE
          this.diagonals2[index] = FREE
        }
        this.run = function() { // метод для запуска поиска
          this.calculate (0)
        }
        this.calculate = function (row) { // метод для поиска всех возможных решений
          for (var column=0; column < this.N; ++column) {
            if (this.columns[column] >= 0) continue // текущий столбец бьётся, продолжить
            var thisDiag1 = row + column;             
            if (this.diagonals1[thisDiag1] == OCCUPIED) continue // диагональ '\' для текущих строки и столбца бьётся, продолжить
            var thisDiag2 = this.N - 1 - row + column
            if (this.diagonals2[thisDiag2] == OCCUPIED) continue // диагональ '/' для текущих строки и столбца бьётся, продолжить
            this.columns[column] = row
            this.diagonals1[thisDiag1] = OCCUPIED // занять диагонали, которые теперь бьются
            this.diagonals2[thisDiag2] = OCCUPIED
            if (row == this.N - 1) this.solutions.push(this.columns.slice()) // найдена последняя строка - есть решение
            else this.calculate(row + 1) // иначе рекурсия
            this.columns[column] = ISHERE
            this.diagonals1[thisDiag1] = FREE
            this.diagonals2[thisDiag2] = FREE
          }
        }
      },
      getline (solution) { //сформировать строку с решением
       var line = ""
       for (var j=0; j<solution.length; ++j) line += "(" + (j+1) + "," + (solution[j]+1) + ")"
       return line
      },
      putline (text) { //добавить строку в лог
       document.log_div.log_area.value += text + "\n"
      },
      main (N) { //решить задачу и показать отчёт
        q = new this.Queen(N)
        this.putline("Размер доски: " + q.N + "x" + q.N)
        var start = new Date().getTime()
        q.run()
        this.putline("Время вычисления: " + (new Date().getTime() - start) + "мс")
        this.putline("Количество решений: " + q.solutions.length)
        document.log_div.show_button.disabled=false
        Current = 0
        document.log_div.show_button.value="Показать ("+(Current+1)+")"
        if (OUTPUT) {
          for (var i=0; i<q.solutions.length; ++i) {
            var solution = this.getline(q.solutions[i]);
            this.putline(solution);
          }
        }
      },
      putboard (N) { //метод для рисования шахматной доски на Javascript
        var s='<table align="center" cellpadding="0" cellspacing="0" border="1">'+"\n";
        var color='white'; if (N%2) color='black';
        for (var i=1; i<=N; i++) {
          s+='<tr>'+"\n";
            for (var j=1; j<=N; j++) {
              s+='<td align="center" valign="middle" width="32" height="32" nowrap style="background:'+
              color+'; color: red; font-weight: bold;"><span id="board_'+i+'_'+j+'">&nbsp;</span></td>';
              color = (color=='white'?'black':'white');
            }
          s+='</tr>'+"\n";
          color = (N%2==0?(i%2?'black':'white'):(i%2?'white':'black'));
        }
        s+='</table>';
        document.getElementById('board_div').innerHTML=s; 
      },
      click1() { //главная функция
        console.log('123')
        var N0 = parseInt(document.log_div.N_select.value);
        if (!isNaN(N0) && N0>=LOW_N && N0<=HIGH_N) N=N0;
        document.log_div.log_area.value = "";
        this.putboard(N);
        this.main(N);
      },
      show1() { //показать решения на доске
        if (document.log_div.show_button.disabled==false) {
          var solution = this.getline(q.solutions[Current]);
          var reg = new RegExp("([0-9]+,[0-9]+)","g"); 
          var fields = solution.match(reg);
          for (var i=1; i<=N; i++) for (var j=1; j<=N; j++) document.getElementById('board_'+i+'_'+j).innerHTML='&nbsp;';
          for (var i=0; i<fields.length; i++) {
            var xy = fields[i].split(',');
            document.getElementById('board_'+xy[0]+'_'+xy[1]).innerHTML='Ф';   
          }
          if (Current<q.solutions.length-1) Current++; else Current=0;
          document.log_div.show_button.value="Показать ("+(Current+1)+")";
        }
      }
    }
  }
  /* eslint-enable */
</script>