<template>
  <div>
    <div class="row">
      <h2 class="mt-4 mb-4 text-center col-12">{{ $route.name }}</h2>
      <div class="mt-4 col-sm-11 offset-sm-1">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary col-12 my-1" @click='searchDeg'>Поиск вершин</button>
            <button class='btn btn-success col-12 my-1' @click="addNode">Добавить новое дерево</button>
            <vue-tree-list class="my-4" @click="onClick" :model="data" default-tree-node-name="new node" default-leaf-node-name="new leaf"></vue-tree-list>
          </div>
          <div class="col-md-8">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h3>Инструкция</h3>
                <ul class="list-group list-group-flush custom-list">
                  <li class="list-group-item">
                    <p>Для одобавления узла, необходимо навести курсор на дерево и нажать на значок 'папка с плюсом'</p>
                  </li>
                  <li class="list-group-item">
                    <p>Для визуализации нового дерево необходимо нажать на кнопку 'Добавить новое дерево'</p>
                  </li>
                  <li class="list-group-item">
                    <p>Для удаление узна необходимо навести курсор на узел и нажать на значок 'Корзина'</p>
                  </li>
                  <li class="list-group-item">
                    <p>После инициализации двух деревьев, для объединение их, необходимо кликнуть на одно из деревьев и ужерживая 1 клик перенести его в другое дерево</p>
                  </li>
                  <li class="list-group-item">
                    <p>Определения числа вершин, степень которых совпадает со степенью  дерева</p>
                  </li>
                  <li class="list-group-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary col-12" data-toggle="modal" data-target="#exampleModal">
                      Просмотреть код метода
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Код метода</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <pre class='code code-javascript'>
                  <label>JS</label>
                  <code>
getNewTree: function () {
  var vm = this
  function _dfs (oldNode) {
    var newNode = {}
    for (var k in oldNode) {
      if (k !== 'children' && k !== 'parent') {
        newNode[k] = oldNode[k]
      }
    }
    if (oldNode.children && oldNode.children.length > 0) {
      newNode.children = []
      for (var i = 0, len = oldNode.children.length; i < len; i++) {
        newNode.children.push(_dfs(oldNode.children[i]))
      }
    }
    return newNode
  }
  vm.newTree = _dfs(vm.data)
},
onClick (model) {
  console.log(model)
},
searchDeg () {
  let NodeDeg = this.data.children[0].children.length
  let Deg = []
  console.log(NodeDeg)
  preOrder(this.data.children[0])
  function preOrder (node) {
    console.log(node)
    if (node.children !== null) {
      Deg.push(node.children.length)
      node.children.forEach(function (value, index) {
        preOrder(value)
      })
    }
  }
  console.log(Deg)
  let numbers = []
  let num = Deg.pop()
  while (Deg.length !== 0) {
    num = Deg.pop()
    if (num === NodeDeg) {
      numbers.push(num)
    }
  }
  return alert('Кол-во вершин, степень которых совпадает со степенью дерева: ' + numbers.length)
}
                  </code>
                </pre>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { VueTreeList, Tree, TreeNode } from 'vue-tree-list/dist/vue-tree-list.min.js'
  export default {
    components: {
      VueTreeList
    },
    name: 'zadanie17',
    data () {
      return {
        newTree: {},
        data: new Tree([
          {
            name: 'Дерево 1',
            id: 1,
            pid: 0,
            dragDisabled: true
          }
        ])
      }
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      addNode: function () {
        var node = new TreeNode({ name: 'Новое дерево', isLeaf: false })
        if (!this.data.children) this.data.children = []
        this.data.addChildren(node)
      },
      getNewTree: function () {
        var vm = this
        function _dfs (oldNode) {
          var newNode = {}
          for (var k in oldNode) {
            if (k !== 'children' && k !== 'parent') {
              newNode[k] = oldNode[k]
            }
          }
          if (oldNode.children && oldNode.children.length > 0) {
            newNode.children = []
            for (var i = 0, len = oldNode.children.length; i < len; i++) {
              newNode.children.push(_dfs(oldNode.children[i]))
            }
          }
          return newNode
        }
        vm.newTree = _dfs(vm.data)
      },
      onClick (model) {
        console.log(model)
      },
      searchDeg () {
        let NodeDeg = this.data.children[0].children.length
        let Deg = []
        console.log(NodeDeg)
        preOrder(this.data.children[0])
        function preOrder (node) {
          console.log(node)
          if (node.children !== null) {
            Deg.push(node.children.length)
            node.children.forEach(function (value, index) {
              preOrder(value)
            })
          }
        }
        console.log(Deg)
        let numbers = []
        Deg[0] = null
        while (Deg.length !== 0) {
          let num = Deg.pop()
          if (num === NodeDeg) {
            numbers.push(num)
          }
        }
        console.log(numbers)
        return alert('Кол-во вершин, степень которых совпадает со степенью дерева: ' + numbers.length)
      }
    }
  }
</script>

<style>
  .vtl-icon-folder, .vtl-icon-file {
    display: none;
  }
  .custom-list .list-group-item {
    background-color: transparent;
  }
  .vtl-tree-node {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
</style>