<template>
  <div>
    <h2 class="mb-4 mt-4 text-primary text-center">Здравствуйте</h2>
    <p class="lead text-black-50">Приложение для просмотра домашнего задания ученика группы БПА17-01 Артышко Андрея.</p>
    <hr>
    <p class = "font-weight-bold">Технологии</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ElectronJS</li>
      <li class="list-group-item">VueJS</li>
      <li class="list-group-item">Bootstrap</li>
    </ul>

    <p class="mt-4">Язык программирования: JavaScript</p>
  </div>
</template>

<script>
  export default {
    name: 'index',
    created () {
      this.$parent.NamePage = 'index'
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

</style>
