<template>
  <div>
    <div class="row">
      <h2 class="mt-4 mb-4 text-center col-12">{{ $route.name }}</h2>
      <div class="mt-4 col-sm-11 offset-sm-1">
        <form v-on:submit.prevent="addNewTodo">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-12 col-form-label">Введите число</label>
            <div class="col-8 col-sm-5">
              <input type="text" v-on:keypress="isNumber()" v-model="newTodoText" class="form-control" placeholder="Добавление элемента массива">
            </div>
            <button class="btn btn-primary col-4 col-sm-2">Добавить</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <transition-group name="card" tag="ul" class="list-group list-group-flush col-md-4 col-sm-7">
        <li v-for="elem in Massive" :key="elem.id" class="list-group-item mt-0 mb-0 pt-2 pb-2 card">{{elem.num}}</li>
      </transition-group>
      <div class="col-md-8 col-sm-5">
        <button @click="sortBubble"  class="btn btn-primary ml-4">Сортировать</button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Просмотреть код метода
        </button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Код метода</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <pre class='code code-javascript'>
                  <label>JS</label>
                  <code>
var newLength = this.Massive.length - 1
  for (var i = 0; i < newLength; i++) {
    for (var j = 0; j < newLength - i; j++) {
      if (this.Massive[j] > this.Massive[j + 1]) {
        var TempMass = this.Massive[j]
        Vue.set(this.Massive, j, this.Massive[j + 1])
        Vue.set(this.Massive, j + 1, TempMass)
      }
    }
}
                  </code>
                </pre>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  export default {
    name: 'zadanie1',
    data: function () {
      return {
        newTodoText: '',
        Massive: [],
        i: 0
      }
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      addNewTodo: function () {
        if (this.newTodoText !== '') {
          this.Massive.push({
            id: this.i,
            num: Number(this.newTodoText)
          })
          this.newTodoText = ''
          this.i++
        }
      },
      isNumber: function () {
        let num = window.event
        var CharCode = (num.which) ? num.which : num.keyCode
        if ((CharCode > 31 && (CharCode < 48 || CharCode > 57)) && CharCode !== 46) {
          num.preventDefault()
        } else {
          return true
        }
      },
      sortBubble () {
        var newLength = this.Massive.length - 1
        for (var i = 0; i < newLength; i++) {
          for (var j = 0; j < newLength - i; j++) {
            if (this.Massive[j].num > this.Massive[j + 1].num) {
              var TempMass = this.Massive[j]
              Vue.set(this.Massive, j, this.Massive[j + 1])
              Vue.set(this.Massive, j + 1, TempMass)
            }
          }
        }
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

  .card {
    transition: all 0.5s;
  }
  .card-enter, .card-leave-to
  /* .card-leave-active for <2.1.8 */ {
    opacity: 0;
    transform: scale(0);
  }
  .card-enter-to {
    opacity: 1;
    transform: scale(1);
  }

  .card-leave-active {
    /*position: absolute;*/
  }

  .card-move {
    opacity: 1;
    transition: all 0.5s;
  }

</style>
