<template>
  <div id="app">
  	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3" style="overflow-x: auto; height: 100vh">
          <div class="list-group mt-2">
            <input class="list-group-item list-group-item-action card" v-model="search" id="search" placeholder="Поиск по заданиям">
            <transition-group name="card" tag="div" class="list-group mt-2">
              <router-link v-for="item in filteredMenu.slice(0, 4)" :to="item.path" :key="item.name" :class="[{'active': $route.name === item.name}, linkClass, 'card']">{{item.name}}</router-link>
            </transition-group>
            <p class="text-center my-3 text-muted">Последние 4 задания</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-12">
              <div class="btn-group mt-2">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Модуль 1
                </button>
                <div class="dropdown-menu">
                  <router-link v-for="item in items" v-if='item.m == "modal1"' :to="item.path" :key="item.name" :class="'dropdown-item'">{{item.name}}</router-link>
                </div>
              </div>
              <div class="btn-group mt-2">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Модуль 2
                </button>
                <div class="dropdown-menu">
                  <span class="dropdown-header">Стек</span>
                  <router-link v-for="item in items" v-if='item.m == "modal2_1"' :to="item.path" :key="item.name" :class="'dropdown-item'">{{item.name}}</router-link>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-header">Очередь</span>
                  <router-link v-for="item in items" v-if='item.m == "modal2_2"' :to="item.path" :key="item.name" :class="'dropdown-item'">{{item.name}}</router-link>
                </div>
              </div>
              <div class="btn-group mt-2">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Модуль 3
                </button>
                <div class="dropdown-menu">
                  <router-link v-for="item in items" v-if='item.m == "modal3"' :to="item.path" :key="item.name" :class="'dropdown-item'">{{item.name}}</router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 h100" style = "overflow-y: auto; height: 100vh">
            <transition name="fade" appear  mode="out-in">
              <router-view></router-view>
            </transition>
          </div>
        </div>
      </div>
    </div>
	   
  </div>
</template>

<script>
  export default {
    name: 'App',
    data: function () {
      return {
        linkClass: 'list-group-item list-group-item-action',
        items: [],
        search: '',
        stack: []
      }
    },
    computed: {
      filteredMenu () {
        const s = this.search.toLowerCase()
        return this.items.filter(n => Object.values(n).some(m => m.toString().toLowerCase().includes(s)))
      }
    },
    created () {
      this.$router.options.routes.forEach(route => {
        this.items.push({
          name: route.name,
          path: route.path,
          m: route.m
        })
      })
      this.items = this.items.reverse()
    }
  }
</script>

<style>
  /* CSS */
  .fade-enter-active, .fade-leave-active {
	  transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
	  opacity: 0;
	}
  .card {
    transition: all 0.5s;
  }
  .card-enter, .card-leave-to
  /* .card-leave-active for <2.1.8 */ {
    opacity: 0;
    transform: scale(0);
  }
  .card-enter-to {
    opacity: 1;
    transform: scale(1);
  }

  .card-leave-active {
    /*position: absolute;*/
  }

  .card-move {
    opacity: 1;
    transition: all 0.5s;
  }
</style>
