<template>
  <div>
    <div class="row">
      <h2 class="mt-4 mb-4 text-center col-12">{{ $route.name }}  - Стек</h2>
      <div class="mt-4 col-sm-11 offset-sm-1">
        <form v-on:submit.prevent="addNewTodo(5)">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-12 col-form-label">Введите число</label>
            <div class="col-8 col-sm-5">
              <input type="text" v-on:keypress="isNumber()" v-model="newTodoText" class="form-control" placeholder="Добавление элемента в список">
            </div>
            <button class="btn btn-primary col-4 col-sm-2">Добавить</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <transition-group name="card" tag="ul" class="list-group list-group-flush col-md-4 col-sm-7">
        <li v-for="(elem, index) in stack" :key="index" class="list-group-item mt-0 mb-0 pt-2 pb-2 card">
          {{index+1 + ':  '}}
          <strong class="ml-2">
            {{elem}}
          </strong>
        </li>
      </transition-group>
      <div class="col-md-8 col-sm-5">
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary" @click="clear()">Стереть список</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Просмотреть код метода
            </button>
          </div>
          <transition name="fade" appear  mode="out-in">
            <div v-if="message" class="col-12 my-3">
              <div class="alert alert-success" role="alert">
                <strong>{{ message }}</strong>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Код метода</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <pre class='code code-javascript'>
                  <label>JS</label>
                  <code>
addNewTodo: function () {
  if (this.newTodoText !== '') {
    this.tempStack.push(this.newTodoText)
    while (this.stack.length !== 0) {
      this.tempStack2.push(this.stack.pop())
    }
    this.stack.push(this.tempStack.pop())
    while (this.tempStack2.length !== 0) {
      this.stack.push(this.tempStack2.pop())
    }
    this.newTodoText = ''
  }
},
clear: function () {
  this.stack = []
},
isNumber: function () {
  let num = window.event
  let CharCode = (num.which) ? num.which : num.keyCode
  if ((CharCode > 31 && (CharCode < 48 || CharCode > 57)) && CharCode !== 46) {
    num.preventDefault()
  } else {
    return true
  }
}
                  </code>
                </pre>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'zadanie8',
    data: function () {
      return {
        newTodoText: '',
        stack: [],
        tempStack: [],
        tempStack2: [],
        message: ''
      }
    },
    created () {
      if (this.$parent.stack.length !== 0) {
        this.stack = this.$parent.stack
      }
    },
    beforeRouteLeave (to, from, next) {
      this.$parent.stack = this.stack
      next()
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      addNewTodo: function () {
        if (this.newTodoText !== '') {
          this.tempStack.push(this.newTodoText)
          while (this.stack.length !== 0) {
            this.tempStack2.push(this.stack.pop())
          }
          this.stack.push(this.tempStack.pop())
          while (this.tempStack2.length !== 0) {
            this.stack.push(this.tempStack2.pop())
          }
          this.newTodoText = ''
        }
      },
      clear: function () {
        this.stack = []
      },
      isNumber: function () {
        let num = window.event
        let CharCode = (num.which) ? num.which : num.keyCode
        if ((CharCode > 31 && (CharCode < 48 || CharCode > 57)) && CharCode !== 46) {
          num.preventDefault()
        } else {
          return true
        }
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

  .card {
    transition: all 0.5s;
  }
  .card-enter, .card-leave-to
  /* .card-leave-active for <2.1.8 */ {
    opacity: 0;
    transform: scale(0);
  }
  .card-enter-to {
    opacity: 1;
    transform: scale(1);
  }

  .card-leave-active {
    /*position: absolute;*/
  }

  .card-move {
    opacity: 1;
    transition: all 0.5s;
  }

</style>